@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: light;
}

* {
  @apply transition-colors duration-200;
}

html[data-theme='dark'] {
  color-scheme: dark;
}

body {
  @apply bg-base-100 text-base-content;
}

.safe-area-inset {
  padding-left: env(safe-area-inset-left);
  padding-right: env(safe-area-inset-right);
  padding-top: env(safe-area-inset-top);
  padding-bottom: env(safe-area-inset-bottom);
}
